/* Target anchor elements containing a hyperlink */
a[href] {
  color: inherit;
}

/* Visited state */
a[href]:visited {
  font-style: italic;
}

/* Hover state */
a[href]:hover {
  text-decoration: underline;
}

/* Active state */
a[href]:active {
  background-color: var(--color-light-grey);
}
