/* styles/5-style.css
   - Define font-size custom properties on :root
   - Set html font-size to 62.5%
   - Set body font-size to var(--font-size-medium)
*/

:root {
  --font-size-small: 1.2rem;
  --font-size-medium: 1.6rem;
  --font-size-large: 1.8rem;
  --font-size-x-large: 2.3rem;
  --font-size-xx-large: 4.8rem;
}

html {
  font-size: 62.5%;
}

body {
  font-size: var(--font-size-medium);
}
